# 웹페이지에서 원하는 데이터 추출하고 정리하기

In [1]:
from bs4 import BeautifulSoup 
import requests

headers = { 'User-Agent' : ('Mozilla/5.0 (Windows NT 10.0;Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36'), } 
url = 'https://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-Chicago/'
response = requests.get(url, headers=headers)

soup = BeautifulSoup(response.text, "html.parser")
rank = [int(x.get_text()) for x in soup.find_all('div', 'sammyRank')]
len(rank)

50

In [2]:
store_name = list()
main_menu = list()
tmp_url = list()
for x in soup.find_all('div', 'sammyListing'):
    store_name.append(x.find('a').get_text().split("\n")[1])
    main_menu.append(x.find('a').get_text().split("\n")[0])
    tmp_url.append(x.find('a')['href'] if x.find('a')['href'].startswith("https") else "https://www.chicagomag.com" + x.find('a')['href'])

In [3]:
import pandas as pd

In [4]:
data = {'Rank':rank, 'Cafe':store_name, 'Menu':main_menu, 'URL':tmp_url}
df = pd.DataFrame(data)
df.head()

,Rank,Cafe,Menu,URL
0,1,Old Oak Tap,BLT,https://www.chicagomag.com/Chicago-Magazine/No...
1,2,Au Cheval,Fried Bologna,https://www.chicagomag.com/Chicago-Magazine/No...
2,3,Xoco,Woodland Mushroom,https://www.chicagomag.com/Chicago-Magazine/No...
3,4,Al’s Deli,Roast Beef,https://www.chicagomag.com/Chicago-Magazine/No...
4,5,Publican Quality Meats,PB&L,https://www.chicagomag.com/Chicago-Magazine/No...

In [5]:
df.to_csv('../data/03. best_sandwiches_list_chicago.csv', sep=',', encoding='UTF-8')

In [6]:
df = pd.read_csv('../data/03. best_sandwiches_list_chicago.csv', index_col=0)
df.head()

,Rank,Cafe,Menu,URL
0,1,Old Oak Tap,BLT,https://www.chicagomag.com/Chicago-Magazine/No...
1,2,Au Cheval,Fried Bologna,https://www.chicagomag.com/Chicago-Magazine/No...
2,3,Xoco,Woodland Mushroom,https://www.chicagomag.com/Chicago-Magazine/No...
3,4,Al’s Deli,Roast Beef,https://www.chicagomag.com/Chicago-Magazine/No...
4,5,Publican Quality Meats,PB&L,https://www.chicagomag.com/Chicago-Magazine/No...

In [7]:
price = list()
address = list()

for i in df.index:
    response = requests.get(df["URL"][i], headers=headers)
    soup = BeautifulSoup(response.text, "html.parser")
    price_n_address = soup.find('p', 'addy').get_text().split()
    price.append(price_n_address[0][:-1])
    address.append(' '.join(price_n_address[1:-2]))

In [8]:
df['Price'] = price
df['Address'] = address

df = df.loc[:, ['Rank', 'Cafe', 'Menu', 'Price', 'Address']]
df.set_index('Rank', inplace=True)
df.head(15)

,Cafe,Menu,Price,Address
Rank,,,,
1,Old Oak Tap,BLT,$10,"2109 W. Chicago Ave.,"
2,Au Cheval,Fried Bologna,$9,"800 W. Randolph St.,"
3,Xoco,Woodland Mushroom,$9.50,"445 N. Clark St.,"
4,Al’s Deli,Roast Beef,$9.40,"914 Noyes St., Evanston,"
5,Publican Quality Meats,PB&L,$10,"825 W. Fulton Mkt.,"
6,Hendrickx Belgian Bread Crafter,Belgian Chicken Curry Salad,$7.25,100 E. Walton
7,Acadia,Lobster Roll,$16,"1639 S. Wabash Ave.,"
8,Birchwood Kitchen,Smoked Salmon Salad,$10,"2211 W. North Ave.,"
9,Cemitas Puebla,Atomica Cemitas,$9,"3619 W. North Ave.,"
10,Nana,Grilled Laughing Bird Shrimp and Fried Po’ Boy,$17,"3267 S. Halsted St.,"
11,Lula Cafe,Ham and Raclette Panino,$11,"2537 N. Kedzie Blvd.,"
12,Ricobene’s,Breaded Steak,$5.49,Multiple
13,Frog n Snail,The Hawkeye,$14,"3124 N. Broadway,"
14,Crosby’s Kitchen,Chicken Dip,$10,"3455 N. Southport Ave.,"
15,Longman & Eagle,Wild Boar Sloppy Joe,$13,"2657 N. Kedzie Ave.,"

In [9]:
df.to_csv('../data/03. best_sandwiches_list_chicago2.csv', sep=',', encoding='UTF-8')